<a href="https://colab.research.google.com/github/karthicsalem/fods-sem-5/blob/master/Bigmart_till_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import  scipy as sc
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Reading Bigmart Dataset

In [2]:
df=pd.read_csv('https://github.com/karthicsalem/fods-sem-5/raw/master/bigmart.csv')
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

# Checking for null values

In [3]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [4]:
df.shape

(8523, 12)

In [5]:
df['Item_Weight'].nunique()

415

In [6]:
d=df.copy()
df.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  7060.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.643456  ...        1706.499616
min       4.555000  ...          33.290000
25%       8.773750  ...         834.247400
50%      12.600000  ...        1794.331000
75%      16.850000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]

# Modifying Fat Category

In [7]:
d['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [8]:
d['Item_Fat_Content'] = d['Item_Fat_Content'].replace({'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'})
d['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

# Filling Null Values Item_Weight 
  *   By Average value of weight for each Item_Identifier
  *   Remaining by Average value of Item_fat_content

In [9]:
d['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [10]:
b=d.groupby(['Item_Identifier'])
b.mean()

                 Item_Weight  ...  Item_Outlet_Sales
Item_Identifier               ...
DRA12                 11.600  ...        1843.600200
DRA24                 19.350  ...        2246.218971
DRA59                  8.270  ...        2614.430150
DRB01                  7.390  ...        1518.024000
DRB13                  6.115  ...        2428.838400
...                      ...  ...                ...
NCZ30                  6.590  ...        1807.647000
NCZ41                 19.850  ...        1827.487840
NCZ42                 10.500  ...        3839.801760
NCZ53                  9.600  ...        3014.742400
NCZ54                 14.650  ...        3249.104000

[1559 rows x 5 columns]

In [11]:
d['Item_Weight']=d['Item_Weight'].fillna(d.groupby('Item_Identifier')['Item_Weight'].transform('mean'))
d

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [12]:
d[d['Item_Weight'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
927            FDN52          NaN  ...  Supermarket Type3          1569.9564
1922           FDK57          NaN  ...  Supermarket Type3          4434.2280
4187           FDE52          NaN  ...  Supermarket Type3          3453.5046
5022           FDQ60          NaN  ...      Grocery Store           120.5098

[4 rows x 12 columns]

In [13]:
d['Item_Weight']=d['Item_Weight'].fillna(d.groupby(['Item_Type','Item_Fat_Content'])['Item_Weight'].transform('mean'))
d[d['Item_Weight'].isnull()]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

# Filling Null Values in Outlet_Size
*   By most frequent value of Outlet_Type

In [14]:
d['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [15]:
from scipy.stats import mode
common= d.pivot_table(values='Outlet_Size', columns='Outlet_Type',aggfunc=(lambda x:mode(x)[0]) )
common

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2 Supermarket Type3
Outlet_Size         Small             Small            Medium            Medium

In [16]:
temp= d['Outlet_Size'].isnull()
d.loc[temp,'Outlet_Size'] = d.loc[temp,'Outlet_Type'].apply(lambda x: common[x])
d.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

# Categorising using Item_identifier


0.   Drinks
1.   Food
2.   Non-Consumable

In [17]:
d['Item_Category']=d['Item_Identifier'].str[:2]
rename={'Item_Category':{'FD':'Food','NC':'Non-Consumable','DR':'Drinks'}}
d.replace(rename,inplace=True)
d['Item_Category']=d['Item_Category'].astype('category')
d['Item_Category'].value_counts()

Food              6125
Non-Consumable    1599
Drinks             799
Name: Item_Category, dtype: int64

In [18]:
d['Item_Cat']=d['Item_Category'].cat.codes
d['Item_Cat'].value_counts()

1    6125
2    1599
0     799
Name: Item_Cat, dtype: int64