In [1]:
import pandas as pd

In [2]:
ss=pd.read_csv('https://raw.githubusercontent.com/sams248/DataQuest/master/Missions/2.%20Data%20Analysis%20and%20Visualisation/1.%20Pandas%20and%20NumPy%20Fundamentals/3.%20Introduction%20to%20Pandas/f500.csv')

In [4]:
link='https://raw.githubusercontent.com/sams248/DataQuest/master/Missions/2.%20Data%20Analysis%20and%20Visualisation/1.%20Pandas%20and%20NumPy%20Fundamentals/3.%20Introduction%20to%20Pandas/f500.csv'
df=pd.read_csv(link)

In [5]:
df

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
496,New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
497,Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
498,TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
499,AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [6]:
d=pd.read_csv(link,header=0)

In [7]:
d.head(2)

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [8]:
dd=pd.read_csv(link,usecols=['company','rank','revenues'])
dd.head(3)

         company  rank  revenues
0        Walmart     1    485873
1     State Grid     2    315199
2  Sinopec Group     3    267518

In [9]:
d1=pd.read_csv(link,usecols=lambda column : column not in['company','rank'])
d1.head(3)

,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

In [9]:
import pandas as pd
dict_df=pd.read_excel('Housing_data.xlsx',sheet_name=None)
dict_df.keys()

dict_keys(['Data_Tab_1', 'Data_Tab_2', 'Data_Tab_3'])

In [7]:
df_table=pd.read_table('Table_EX_1.txt',sep=',')
df_table.tail(2)

   Bedroom   Sq. foot  Locality   Price ($)
3        3       1850       Bad      280000
4        2       1640      Good      310000

In [11]:
dict_1=pd.read_excel('Housing_data.xlsx')#without parameter sheetname,returns only 1st sheet
dict_1.tail(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5

In [6]:
df_tab=pd.read_table('Table_tab_separated.txt')
df_tab.head()

   Bedroom  Sq. foot   Locality  Price ($)
0        2      1500       Good     300000
1        3      1300       Fair     240000
2        3      1900  Very good     450000
3        3      1850        Bad     280000
4        2      1640       Good     310000

In [3]:
import pandas as pd
link2="http://www.fdic.gov/bank/individual/failed/banklist.html"
df_htm=pd.read_html(link2)
df_htm[0]

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date
0,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020"
1,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020"
2,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019"
3,Resolute Bank,Maumee,OH,58317,Buckeye State Bank,"October 25, 2019"
4,Louisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,"October 25, 2019"
...,...,...,...,...,...,...
556,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001"
557,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001"
558,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001"
559,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000"
560,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000"

In [4]:
df_js=pd.read_json('movies.json')
df_js.head(2)

                                  title  year cast genres
0            After Dark in Central Park  1900   []     []
1  Boarding School Girls' Pajama Parade  1900   []     []

In [2]:
import pandas as pd 
df_stat=pd.read_stata('rscfp2016.dta')
df_stat.head()

,YY1,Y1,wgt,hhsex,age,agecl,educ,edcl,married,kids,...,LLOAN11,LLOAN12,nwcat,inccat,assetcat,ninccat,NINC2CAT,nwpctlecat,incpctlecat,nincpctlecat
0,1,11,6427.136676,2,71,5,10,3,2,0,...,0,0,3,1,3,1,1,7,1,1
1,1,12,6428.350592,2,71,5,10,3,2,0,...,0,0,3,1,3,1,1,7,1,1
2,1,13,6414.477294,2,71,5,10,3,2,0,...,0,0,3,1,3,1,1,7,1,1
3,1,14,6428.487972,2,71,5,10,3,2,0,...,0,0,3,1,3,1,1,7,1,1
4,1,15,6425.256822,2,71,5,10,3,2,0,...,0,0,3,1,3,1,1,7,1,1

In [116]:
from tabula import read_pdf
df_pdf=read_pdf('https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf',pages=[2])
df_pdf[0].describe()

       Speed (mph)
count    12.000000
mean    544.813750
std     104.598569
min     407.447000
25%     460.094250
50%     545.919500
75%     606.052500
max     763.035000

In [9]:
df_pdf[0]

         0     1     2  3      4      5     6       7  8    9
0  0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
1  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
2  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
3  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311

In [11]:
df_1pdf=read_pdf('Housing_data.pdf',pages=[1])
df_1pdf[0]

   0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
0  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
1  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
2  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311

In [13]:
df_2pdf=read_pdf('Housing_data.pdf',pages=[1],pandas_options={'header':range(10)})
df_2pdf[0]

         0     1     2  3      4      5     6       7  8    9
0  0.17004  12.5  7.87  0  0.524  6.004  85.9  6.5921  5  311
1  0.22489  12.5  7.87  0  0.524  6.377  94.3  6.3467  5  311
2  0.11747  12.5  7.87  0  0.524  6.009  82.9  6.2267  5  311
3  0.09378  12.5  7.87  0  0.524  5.889  39.0  5.4509  5  311

In [1]:
import pandas as pd 
link1='https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv'
data=pd.read_csv('https://s3-eu-west-1.amazonaws.com/shanebucket/downloads/uk-500.csv')

In [3]:
data.iloc[0]

first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [5]:
data.iloc[-1]#from last

first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: 499, dtype: object

In [10]:
data.iloc[:,1]#column_wise

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
          ...
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: last_name, Length: 500, dtype: object

In [8]:
data.iloc[:,-1]

0             http://www.alandrosenburgcpapc.co.uk
1                http://www.capgeminiamerica.co.uk
2                 http://www.elliottjohnwesq.co.uk
3                     http://www.mcmahanbenl.co.uk
4                   http://www.champagneroom.co.uk
                          ...
495      http://www.plazagourmetdelicatessen.co.uk
496             http://www.fitzgeraldedwardj.co.uk
497               http://www.fureyassociates.co.uk
498         http://www.bfgfederalcreditunion.co.uk
499    http://www.nelsonwrighthaworthgolfcrs.co.uk
Name: web, Length: 500, dtype: object

In [11]:
data.iloc[0:5]#1st 5 rows

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [12]:
data.iloc[:,-6:-1]

,county,postal,phone1,phone2,email
0,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com
1,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com
2,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com
3,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com
4,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com
...,...,...,...,...,...
495,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk
496,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk
497,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk
498,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com
499,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com

In [13]:
data.iloc[:4,7:13]

,phone1,phone2,email,web
0,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk

In [15]:
data.iloc[[4,5,7],[10,14,20]]

IndexError: positional indexers are out-of-bounds

In [29]:
data.loc[ ['Andrade':'Veness'],['city':'email']]

SyntaxError: invalid syntax (<ipython-input-29-fd308621e1b1>, line 1)

In [24]:
data.loc[data['email'].str.endswith('hotmail.com')]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
6,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
486,Sophia,Gaucher,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
490,Rosita,Ausdemore,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
491,Huey,Stancil,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
492,Elbert,Fiorino,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [25]:
data.loc[data['first_name']=='Antonio','city':'email']

,city,county,postal,phone1,phone2,email
272,Little Parndon and Hare Street,Hertfordshire,CM20 2HT,01559-403415,01388-777812,antonio.villamarin@gmail.com
285,Gaer Community,Newport,NP20 3DE,01463-409090,01242-318420,antonio_glasford@glasford.co.uk
427,Ipplepen,Devon,TQ12 5LL,01324-171614,01442-946357,antonio.heilig@gmail.com

In [28]:
len(data.loc[data['email'].str.endswith('gmail.com')])

130

In [30]:
data.loc[data['first_name'].isin(['France','Tyisha','Eric'])]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk

In [31]:
data.loc[data['company_name'].apply(lambda x: len(x.split(' '))==4)]

,first_name,last_name,company_name,address,city,county,postal,phone1,phone2,email,web
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
11,Charlesetta,Erm,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
15,Michell,Throssell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
16,Edgar,Kanne,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
481,Ahmad,Alsaqri,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
484,Jacquelyne,Reibman,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
487,Isabelle,Kono,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
492,Elbert,Fiorino,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk

In [38]:
data.loc[(data['county']=='Devon')&(data['first_name']=='Danish')]

Empty DataFrame
Columns: [first_name, last_name, company_name, address, city, county, postal, phone1, phone2, email, web]
Index: []

In [36]:
data.loc[data.first_name=='karthic']

Empty DataFrame
Columns: [first_name, last_name, company_name, address, city, county, postal, phone1, phone2, email, web]
Index: []

In [39]:
data.loc[(data.first_name=='karthic'),
['company_man','city']]=['Amrita','Coimbatore']

KeyError: "['company_man'] not in index"

In [42]:
links2='https://raw.githubusercontent.com/fivethirtyeight/data/master/cabinet-turnover/cabinet-turnover.csv'
link2=pd.read_csv(links2)

In [45]:
link2.head()

,president,position,appointee,start,end,length,days
0,Carter,OMB Director,Bert Lance,1/21/77,9/23/77,245,247.0
1,Carter,Secretary of Transportation,Brock Adams,1/23/77,7/20/79,908,912.0
2,Carter,"Secretary of Health, Education & Welfare",Joseph Califano Jr.,1/25/77,8/3/79,920,926.0
3,Carter,Secretary of Housing & Urban Development,Patricia Harris,1/23/77,8/3/79,922,926.0
4,Carter,Secretary of the Treasury,W. Michael Blumenthal,1/23/77,8/4/79,923,927.0

In [48]:
link2.shape

(312, 7)

In [50]:
link2['president'].value_count()

AttributeError: 'Series' object has no attribute 'values_count'

In [57]:
link2['president'].value_counts()

Bush 43    58
Obama      54
Reagan     53
Clinton    50
Bush 41    34
Carter     33
Trump      30
Name: president, dtype: int64

In [54]:
a=link2.columns
a

Index(['president', 'position', 'appointee', 'start', 'end', 'length', 'days'], dtype='object')

In [61]:
data.loc[(data['position'].str.startswith('secreta'))]

KeyError: 'position'

In [65]:
link2['president'].unique()

array(['Carter', 'Reagan', 'Bush 41', 'Clinton', 'Bush 43', 'Obama',
       'Trump'], dtype=object)

In [66]:
ddd=pd.read_csv('https://raw.githubusercontent.com/akki8087/Big-Mart-Sales/master/Train.csv')
ddd.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

In [68]:
link2.loc[(link2['position']=='OMB Director')& (link2['president']=='Clinton')]['appointee']

122    Leon Panetta
129    Alice Rivlin
142    Frank Raines
151        Jack Lew
Name: appointee, dtype: object

In [71]:
ddd.apply(lambda x:x[0])

Item_Identifier                          FDA15
Item_Weight                                9.3
Item_Fat_Content                       Low Fat
Item_Visibility                      0.0160473
Item_Type                                Dairy
Item_MRP                               249.809
Outlet_Identifier                       OUT049
Outlet_Establishment_Year                 1999
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 1
Outlet_Type                  Supermarket Type1
Item_Outlet_Sales                      3735.14
dtype: object

In [73]:
ddd.apply(lambda x:x[0],axis=1)

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Length: 8523, dtype: object

In [77]:
def clip(price):
    if price>200:
        price=200
    return price
ddd['Item_MRP']=ddd['Item_MRP'].apply(clip)

In [82]:
ff=ddd['Item_MRP']>200
ff

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_MRP, Length: 8523, dtype: bool

In [84]:
def code(city):
    if city=='Tier 1':
        lab=0
    elif city=='Tier 2':
        lab=1
    else:
        lab=2
    return lab
ddd['Outlet_Location_Type']=ddd['Outlet_Location_Type'].apply(code)
ddd.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,200.0000,OUT049,1999,Medium,2,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,2,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,2,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,2,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,2,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,2,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,2,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,2,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,2,Supermarket Type1,4710.5350

In [107]:
ne=pd.read_pdf('https://sedl.org/afterschool/toolkits/science/pdf/ast_sci_data_tables_sample.pdf')
ne[0]

AttributeError: module 'pandas' has no attribute 'read_pdf'

In [94]:
ne[0]['Item'].value_counts()

Binder     15
Pencil     13
Pen Set     7
Pen         5
Desk        3
Name: Item, dtype: int64

In [96]:
ne[0].describe()

           Units    UnitCost        Total
count  43.000000   43.000000    43.000000
mean   49.325581   20.308605   456.462326
std    30.078248   47.345118   447.022104
min     2.000000    1.290000     9.030000
25%    27.500000    3.990000   144.590000
50%    53.000000    4.990000   299.400000
75%    74.500000   17.990000   600.180000
max    96.000000  275.000000  1879.060000

In [97]:
o='https://www.espncricinfo.com/india/content/player/253802.html'

In [117]:
tt=pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv')

In [122]:
tt.dtypes

PID             float64
ST_NUM          float64
ST_NAME          object
OWN_OCCUPIED     object
NUM_BEDROOMS     object
NUM_BATH         object
SQ_FT            object
dtype: object

In [123]:
tt['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [124]:
miss=['n/a','na','--']
tt1=pd.read_csv('https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv',na_values=miss)

In [125]:
tt1

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [127]:
tt1['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool