# EVALUATION - 1

Telecom Churn Datasets

Each row represents a customer; each column contains customerâ€™s attributes. The datasets have the following attributes or features:

State: string
Account length: integer
Area code: integer
International plan: string
Voice mail plan: string
Number vmail messages: integer
Total day minutes: double
Total day calls: integer
Total day charge: double
Total eve minutes: double
Total eve calls: integer
Total eve charge: double
Total night minutes: double
Total night calls: integer
Total night charge: double
Total intl minutes: double
Total intl calls: integer
Total intl charge: double
Customer service calls: integer
Churn: string ( 0-loyal users, 1- churned users)

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')

In [3]:
df.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# 1. display the number of rows of the dataset - 1 Mark

In [5]:
def no_rows():
    a,b=df.shape
    return a
no_rows()

3333

# 2. select only string columns and display first 3 valueses - 1 Mark

In [6]:
def col_name():
    strings=(df.select_dtypes(include='object')).head(3)
    return strings
col_name()

  State International plan Voice mail plan
0    KS                 No             Yes
1    OH                 No             Yes
2    NJ                 No              No

# 3. convert the churn datatype to int and display the type of churn column - 1 Mark

In [8]:
def change_type():
    df['Churn']=df['Churn'].astype('int')
    return df['Churn'].dtype
change_type()

dtype('int32')

# 4. print the most frequently occuring value for state, international plan and voice mail plan from summary statistics -  1 Mark

In [14]:
def dis_summary():
    return df[['State','International plan','Voice mail plan']].mode()
    
dis_summary()

  State International plan Voice mail plan
0    WV                 No              No

# 5. What is the percentage of churn in each category - 1 Mark

In [24]:
def perc_churn():
    return df['Churn'].value_counts()/df['Churn'].value_counts().sum()*100
perc_churn()

0    85.508551
1    14.491449
Name: Churn, dtype: float64

# 6. sort the dataframe in the descending order of Total day charge and display first 5 states - 1 Mark

In [13]:
def sort_disp():    
    t=df.sort_values('Total day charge',ascending=False).head(5)
    return t['State']
sort_disp()

365     CO
985     NY
2594    OH
156     OH
605     MO
Name: State, dtype: object

# 7. sort the dataframe in the ascending order of churn and then dy descending order of total dat charge and display first area code and account length - 1 Mark

In [19]:
def sort_val1():    
    return df.sort_values(['Churn','Total day charge'],ascending=[True,False])[['Area code','Account length']].head(1)
sort_val1()

     Area code  Account length
688        510              13

# 8. What are average values of all columns for churned users? - 1 Mark

In [20]:
def avg_churn():
    return df[df['Churn']==True].mean()
avg_churn()

Account length            102.664596
Area code                 437.817805
Number vmail messages       5.115942
Total day minutes         206.914079
Total day calls           101.335404
Total day charge           35.175921
Total eve minutes         212.410145
Total eve calls           100.561077
Total eve charge           18.054969
Total night minutes       205.231677
Total night calls         100.399586
Total night charge          9.235528
Total intl minutes         10.700000
Total intl calls            4.163561
Total intl charge           2.889545
Customer service calls      2.229814
Churn                       1.000000
dtype: float64

# 9. What is the maximum length of voice mail calls for loyal users  who do not have an international plan? - 1 Mark

In [30]:
def max_val():
    d=df.loc[(df['Churn']==0)&(df['International plan']=='No'),['Total day minutes','Total eve minutes','Total night minutes']]
    return d.sum(axis=1).max()
    
max_val()

831.0

# 10. display max value of all columns - 1 Mark

In [21]:
def max_all():
    return df.max()
max_all()

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes         395
Total night calls           175
Total night charge        17.77
Total intl minutes           20
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object