# EVALUATION - 2

Telecom Churn Datasets

Each row represents a customer; each column contains customerâ€™s attributes. The datasets have the following attributes or features:

State: string
Account length: integer
Area code: integer
International plan: string
Voice mail plan: string
Number vmail messages: integer
Total day minutes: double
Total day calls: integer
Total day charge: double
Total eve minutes: double
Total eve calls: integer
Total eve charge: double
Total night minutes: double
Total night calls: integer
Total night charge: double
Total intl minutes: double
Total intl calls: integer
Total intl charge: double
Customer service calls: integer
Churn: string ( 0-loyal users, 1- churned users)

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/telecom_churn.csv')

In [5]:
df.head(5)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

# 1. how many records are there where the state name starts with W

In [30]:
def state_name():
    a,b=df.loc[df['State'].str.startswith('W')].shape
    return a

state_name()

327

# 2. Print the average total day minutes for all churn categories

In [29]:
def category_total_minute():
    temp=df.groupby('Churn').mean()
    return temp['Total day minutes']
    
category_total_minute()

Churn
False    175.175754
True     206.914079
Name: Total day minutes, dtype: float64

# 3. The percentage of voice mail plan for churn=0 users

In [36]:
def perc_voice_mail():
    return df.loc[df['Churn']==False,'Voice mail plan'].value_counts()/df.loc[df['Churn']==False,'Voice mail plan'].value_counts().sum()*100
perc_voice_mail()

No     70.45614
Yes    29.54386
Name: Voice mail plan, dtype: float64

# 4. convert the international plan column to boolean - No - false and yes - True and display the datatype of that column

In [39]:
def convert_bool():
    df['International plan']=df['International plan'].astype(bool)
    return df[['International plan']].dtypes
convert_bool()

International plan    bool
dtype: object

# 5. Average number of day, evening, and night calls by area code, area code on row and day, evening and night averages on column

In [50]:
def avg_stat():
    tempor=df.groupby('Area code')['Total day calls','Total eve calls','Total night calls'].mean()
    return tempor
avg_stat()

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

# 6. display summary table for  churn wise international plan

In [44]:
def churn_international():
    grp=df.groupby('Churn')
    return grp['International plan'].value_counts()
churn_international()

Churn  International plan
False  True                  2850
True   True                   483
Name: International plan, dtype: int64

# 7. Add an extra column called num_label which will be filled based on the total night calls with a margin of 1,25,50,75,100,200 and map to these labels 'Very Low','Low' ,'Medium','High','Very High'

In [77]:
 def change(x):
    if(x>1 and x<25):
      return 'Very Low'
    elif(x>25 and x<20):
      return 'Low'
    elif(x>50 and x<75):
      return 'Medium'
    elif(x>75 and x<100):
      return 'High'
    elif(x>100 and x<200):
      return 'Very High'
df['num_label'] = df['Total night calls'].apply(lambda x: change(x))
df

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,num_label
0,KS,128,415,True,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,High
1,OH,107,415,True,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,Very High
2,NJ,137,415,True,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,Very High
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,High
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,True,Yes,36,156.2,77,26.55,215.5,...,18.32,279.1,83,12.56,9.9,6,2.67,2,False,High
3329,WV,68,415,True,No,0,231.1,57,39.29,153.4,...,13.04,191.3,123,8.61,9.6,4,2.59,3,False,Very High
3330,RI,28,510,True,No,0,180.8,109,30.74,288.8,...,24.55,191.9,91,8.64,14.1,6,3.81,2,False,High
3331,CT,184,510,True,No,0,213.8,105,36.35,159.6,...,13.57,139.2,137,6.26,5.0,10,1.35,2,False,Very High
3332,TN,74,415,True,Yes,25,234.4,113,39.85,265.9,...,22.60,241.4,77,10.86,13.7,4,3.70,0,False,High

# 8. find the sum of total charge for day, evening and night by area code

In [49]:
def sum_total():
    gr=df.groupby('Area code')['Total day charge','Total eve charge','Total night charge'].sum()
    return gr
    return # write your code here
sum_total()

           Total day charge  Total eve charge  Total night charge
Area code
408                25240.79          14337.60             7512.49
415                51092.06          28226.97            15046.92
510                25531.32          14374.87             7568.66

# 9. How many customers are there who made day calls below average and day charge was above average.
# store this customer details in another dataframe

In [71]:
def select_custom():
    x=df['Total day calls'].mean()
    y= df['Total day charge'].mean()
    cust= df.loc[(df['Total day calls']< x) & (df['Total day charge']>y)]
    a1,b1=cust.shape
    print(a1)
    return cust
cust=select_custom()

811

# 10. take the dataframe created by Q19 and compute the total minutes and convert the total minutes to hour and display 5 values

In [72]:
def total_min():
    cust=select_custom()
    tot = (cust['Total day minutes'] + cust['Total eve minutes'] + cust['Total night minutes'])/60
    return tot.head(5)
total_min()

811

3     9.303333
5    10.798333
6    12.988333
8    12.531667
9    13.450000
dtype: float64